.main img {
	margin-left: 0;
	margin-right: 0;
	width: 120%;
}

.arrow {
	margin: auto;
	width: 80px;
}

.firstmiddle h4 {
	color: white;
	font-family: 'Mr Bedfort';
	text-align: center;
	font-size: 50px;
}

.firstmiddle h3 {
	color: white;
	font-family: 'Poiret One';
	text-align: center;
	font-size: 40px;
}

.firstmiddle h3 {
	color: white;
	font-family: 'Poiret One';
	text-align: center;
	font-size: 40px;
}
