/* GENERAL */
* {
	border-radius:0;
}

.jumbotron {
	border-radius:0;margin:0;padding:0;
}

.row {
	margin:0;padding:0;
}

/* LANDING */
.main {
	background-image: url("bg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
}

.arrow {
	margin: auto;
	width: 120px;
}

.main img {
	margin-left: 0;
	margin-right: 0;
}

.first {
	margin-top: 80px;
}

.firstmiddle h4 {
	color: white;
	font-family: 'Mr Bedfort';
	text-align: center;
	font-size: 60px;
}

.firstmiddle h3 {
	color: white;
	font-family: 'Poiret One';
	text-align: center;
	font-size: 70px;
}

.firstmiddle h3 {
	color: white;
	font-family: 'Poiret One';
	text-align: center;
	font-size: 70px;
}

.main img {
	width: 100%;
}

.second {
	margin-top: 100px;

}
