/* GENERAL */
.jumbotron {
	margin:0 !important; border-radius:0 !important;
}

/* LANDING */
.main {
	background-image: url("bg3.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
}

.arrow {
	margin: auto;
	width: 120px;
	text-align: center;
}

/* .main img {
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	text-align: center;
} */

.headimg {
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	text-align: center;
}

.first {
	margin-top: 80px;
}

.firstmiddle h4 {
	color: white;
	font-family: 'Mr Bedfort';
	text-align: justify;
	text-align: center;
	font-size: 60px;
	margin-bottom: 30px;
}

.firstmiddle h3 {
	color: white;
	font-family: 'Poiret One';
	text-align: justify;
	text-align: center;
	font-size: 70px;
}

.firstmiddle h3 {
	color: white;
	font-family: 'Poiret One';
	text-align: justify;
	text-align: center;
	font-size: 70px;
}

.main img {
	width: 100%;
}

.second {
	margin-top: 100px;

}
